.wrapper {
	display: block;
	border: 1px solid #ff8000;
	border-radius: 15px;
	padding: 2.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
	color: rgba(255, 255, 255, 0.87);
	transition: 0.25s;
	flex-basis: 0;
	flex-grow: 1;
}

.wrapper:hover {
	color: rgba(255, 255, 255);
	transform: translateY(-1px);
	box-shadow: 0 0 5px 2px #ff8000;
}

.title {
	align-self: center;
	text-align: justify;
}

.description {
	text-overflow: ellipsis;
	max-height: 9rem;
	overflow: hidden;
}

.tagBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 1rem;
	margin-top: auto;
}